@media (max-width: 768px) {

    body {
        margin: 0;
        height: 100vh; /* Imposta l'altezza della vista a 100% */
        /*background-image: url('/christmas1.jpg'); /* Sostituisci con il percorso della tua immagine */
        background-image: url('/wp10282102.gif');
        
        background-size: cover; /* Copre l'intero schermo */
        background-position: center; /* Centra l'immagine */
        background-repeat: no-repeat; /* Non ripete l'immagine */
        /*padding-top: 100px; /* Dovrebbe corrispondere all'altezza della barra */
        
    }

    .barra {
        background-color: rgba(250,43,33,0.8); /* Verde */
        height: auto; /* Altezza della barra */
        width: auto;/*100%; /* Larghezza completa */
        position: fixed; /* Rende la barra fissa in cima */
        top: 20px; /* Posizione in alto */
        left: 50%; /* Allineamento a sinistra */
        transform: translateX(-50%); /* Centra orizzontalmente la barra */
        display: flex; /* Flexbox per allineare il contenuto */
        align-items: center; /* Centra verticalmente il contenuto */
        /*padding: 50px 50px; /* Padding laterale */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombra per effetto di profondità */
        justify-content: center;

        border: 2px solid #ffffff; /* White border of 2px thickness */
        /*border-top: none; /* Optional: remove the top border */
        
        /*border-radius: 15px;/* Add rounded corners */
    }

    h1 {
        color: white; /* Colore del testo */
        margin: 0; /* Rimuovi il margine di default */
        /*font-family: "Playwrite GB S", cursive;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;*/
        
    }

    

}