body {
    margin: 0;
    /*height: 100vh; /* Imposta l'altezza della vista a 100% 
    background: 
        linear-gradient(to top right, #008000, #000000, #FF0000);*/
    justify-content: center;
}

h1 {
    font-size: 20px;
}

.first-part-container{
    position: relative;
    top: 0px;
    bottom: 0px;
    margin: 0;
    height: 100vh; /* Imposta l'altezza della vista a 100% */
    width:100%;
    background: 
        linear-gradient(to top right, #008000, #000000, #FF0000);
    z-index: 0;
    justify-content: center;
}

.second-part-container {
    position:absolute;
    top:1000px;
    background-color: rgb(0,0,0);
    width:100%;
    height:100px;
}

.third-part-container {
    position:absolute;
    top:1100px;
    background-image: url('/imgs/winter-village-1.jpg');
    width:100%;
    height:800px;
    background-size: cover; /* L'immagine copre l'intera area */
    background-repeat: no-repeat; /* Evita ripetizioni */
    background-position: center; /* Centra l'immagine */
}

.title-bar {
    background-color: rgba(250,43,33,0); /* Verde */
    height: auto; /* Altezza della barra */
    width: auto;/*100%; /* Larghezza completa */
    position: fixed; /* Rende la barra fissa in cima */
    top: 66px; /* Posizione in alto */
    left: 50%; /* Allineamento a sinistra */
    transform: translateX(-50%); /* Centra orizzontalmente la barra */
    display: flex; /* Flexbox per allineare il contenuto */
    align-items: center; /* Centra verticalmente il contenuto */
    padding: 10px 3px; /*top right bot left*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombra per effetto di profondità */
    justify-content: center;
    border-radius: 10px;
    
    /*border: 2px solid #ffffff; /* White border of 2px thickness */
    /*border-top: none; /* Optional: remove the top border */
}

.hat {
    position: absolute; /*position based on the anchestor: outer contenitor the include this,
        the first that is not static, in the last case is the <body>*/
    top: -45px; /* Sposta il cappello sopra il titolo */
    right: -28px; /* Aggiusta la posizione orizzontale per sovrapporlo come preferisci */
    width: 70px; /* Dimensiona il cappello per adattarlo al titolo */
    opacity: 0.9;
}

.end-page-img{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    overflow: hidden;
    z-index: 5;
}
.end-page-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top; /* Start displaying from the top of the image */
    position: absolute;
}
.food-img {
    width: 100%;
    height: 20%;
    border-radius: 10px;
    object-fit: cover;
    padding-bottom: 7px;
}
.slider{
    position: relative;
    top:177px; /*170*/
    width: 100%;
    height: 400px;

    overflow: hidden;
}
.item{
    position: absolute;
    width: 220px;
    height: 320px;
    text-align: justify;
    //background-color: #fff;
    //background-color: darkred;
    background: rgba(255, 200, 200, 0.2); /* Sfondo semi-trasparente */
    backdrop-filter: blur(10px); /* Effetto sfocatura per il vetro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Leggera ombra per l'effetto tridimensionale */
    //border: 1px solid rgba(255, 255, 255, 0.3); /* Bordo per effetto plastica/vetro */
    //color: #333; /* Colore del testo */

    //background-color: #fd0100;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 130px);
    top: 0;
    color: #FFFAF0;
    //color: #fff;
    //color: #FFD700; gold
}
#next, #prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
}
#next{
    left: unset;
    right: 20px;
}
#prev{
    left: 20px;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #FFF;
    font-size: 1em;
    opacity: 0.8;
    pointer-events: none;
    user-select: none;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

